<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friend Feed</title>
    <link th:replace="fragments.html :: css-boot" >
    <link th:replace="fragments.html :: css-base" >
</head>
<body>
    <h3>Welcome to the Feed</h3>
    <nav th:replace="fragments.html :: nav"></nav>
    <table class="feedContainer">
        <tr th:each="post : ${posts}" class="postContainer">
            <td class="feedPostContent">"<span th:text="${post.contents}"></span>"</td>
            <td class="feedPostUser">Was Posted By: <a th:href="'/users/' + ${post.user.id}" th:text="${post.user.username}"></a></td>
            <td class="feedPostTime">At: <span th:text="${post.postDateTime}"></span></td>
        </tr>
    </table>
</body>
</html>