<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
    <link th:replace="fragments.html :: css-boot" >
    <link th:replace="fragments.html :: css-base" >
</head>
<body>
    <nav th:replace="fragments.html :: nav"></nav>

    <img th:src="${user.img}" height="150" />
    <h3 th:text="${user.username}"></h3>
    <h4 th:text="${user.firstName + ' ' + user.lastName}"></h4>
    <h6 th:text="${user.dateOfBirth}"></h6>
    <p>
        <pre th:text="${user.bio}"></pre>
    </p>
</body>
</html>